{{#> layout}}
    {{#content "body"}}
        <h1 class="mb-3">Modify Application</h1>

        {{#if objects.choosing}}
            <div class="d-flex justify-content-between mb-3">
                <h3>Choose an application</h3>

                <div class="d-flex align-items-center">
                    <a href="/games/application/new">
                        <button class="btn btn-primary me-2">
                            <i class="fas fa-plus"></i> New Application
                        </button>
                    </a>

                    <button class="btn btn-secondary" onclick="fetchApplicationDataModify()">
                        <i class="fas fa-sync"></i> Refresh
                    </button>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered" id="data">
                <thead class="table-light"><tr>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="align-middle text-center">ID</th>
                    <th scope="col" class="align-middle">UUID</th>
                    <th scope="col" class="align-middle">Latest Deployed Version UUID</th>
                    <th scope="col" class="align-middle">Internal Name</th>
                    <th scope="col" class="align-middle">Display Name</th>
                    <th scope="col" class="align-middle">Last Updated</th>
                    <th scope="col" class="align-middle">Time Created</th>
                </tr></thead>
                <tbody id="data-body"></tbody>
            </table>
            
            <div class="d-flex align-items-center justify-content-center h-25 d-none" id="data-loading">
                <div class="spinner-border spinner-lg" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center h-50 d-none" id="data-empty">
                <div class="text-center">
                    <img src="{{ rboxlo.domain }}/img/blob-tired.png" class="error-image">
                    <h3>No applications found</h3>
                    <span>Why don't you <a href="{{ rboxlo.domain }}/games/application/new">make one?</a></a></span>
                </div>
            </div>
        {{else}}
            <h3 class="mb-2">Viewing application "{{ objects.application.display_name }}"</h3>
            <a href="/games/application/modify" class="text-decoration-none"><i class="far fa-arrow-left"></i> Back</a>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>ID:</b> <code>{{ objects.application.id }}</code><br>
                            <b>Display name:</b> <code id="displayName">{{ objects.application.display_name }}</code> <a href="#" onclick="editDisplayName()"><small>(edit)</small></a><br>
                            <b>Internal name:</b> <code id="internalName">{{ objects.application.internal_name }}</code> <a href="#" onclick="editInternalName()"><small>(edit)</small></a>
                            <br><br>
                            <b>UUID:</b> <code id="uuid">{{ objects.application.uuid }}</code> <a href="#" onclick="regenUUID()"><small>(regen)</small></a><br>
                            <b>Last Deployed Version UUID:</b> {{#if objects.application.last_deployed_version_uuid.length}}<code>{{ objects.application.last_deployed_version_uuid }}</code>{{else}}<i>none</i>{{/if}}
                            <br><br>
                            <b>Time Created:</b> {{ unix2timestamp objects.application.created_timestamp }}<br>
                            <b>Last Updated:</b> {{ unix2timestamp objects.application.last_updated_timestamp }}
                            <br><br>
                            <button class="btn btn-danger"><i class="fas fa-trash"></i> Delete this application</button>
                        </div>
                        <div class="col-lg">
                            <div class="card">
                                <div class="card-header">Version history</div>
                                <div class="card-body">
                                    No software has ever been deployed to this application before
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script>$(document).ready(() => { fetchApplicationDataModify() })</script>
    {{/content}}
{{/layout}}