{{#> layout}}
    {{#unless objects.choosing}}
        {{#content "head" mode="append"}}
            <meta name="rboxlo-csrf" content="{{ objects.csrf }}">
            <meta name="rboxlo-application-id" content="{{ objects.application.id }}">
        {{/content}}
    {{/unless}}

    {{#content "body"}}
        <h1 class="mb-3">Modify Application</h1>

        {{#if objects.choosing}}
            <div class="d-flex justify-content-between mb-3">
                <h3>Choose an application</h3>

                <div class="d-flex align-items-center">
                    <a href="/games/application/new">
                        <button class="btn btn-primary me-2">
                            <i class="fas fa-plus"></i> New Application
                        </button>
                    </a>

                    <button class="btn btn-secondary" onclick="fetchApplicationDataModify()">
                        <i class="fas fa-sync"></i> Refresh
                    </button>
                </div>
            </div>

            <table class="table table-striped table-hover table-bordered d-none" id="data">
                <thead class="table-light"><tr>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="align-middle text-center">ID</th>
                    <th scope="col" class="align-middle">UUID</th>
                    <th scope="col" class="align-middle">Latest Deployed Version UUID</th>
                    <th scope="col" class="align-middle">Internal Name</th>
                    <th scope="col" class="align-middle">Display Name</th>
                    <th scope="col" class="align-middle">Last Updated</th>
                    <th scope="col" class="align-middle">Time Created</th>
                </tr></thead>
                <tbody id="data-body"></tbody>
            </table>
            
            <div class="d-flex align-items-center justify-content-center h-50" id="data-loading">
                <div class="text-secondary spinner-border spinner-border-lg" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center h-50 d-none" id="data-empty">
                <div class="text-center">
                    <img src="{{ rboxlo.domain }}/img/blob-tired.png" class="error-image">
                    <h3>No applications found</h3>
                    <span>Why don't you <a href="{{ rboxlo.domain }}/games/application/new">make one</a>?</span>
                </div>
            </div>
        {{else}}
            <h3 class="mb-2">Viewing application "<span id="displayNameHeader">{{ xss objects.application.display_name }}</span>"</h3>
            <a href="/games/application/modify" class="text-decoration-none"><i class="far fa-arrow-left"></i> Back</a>
            <div class="alert alert-success d-none mt-2" id="modification-update"></div>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <b>ID:</b> <code>{{ xss objects.application.id }}</code><br>
                            <b>Display name:</b> <code id="displayName">{{ xss objects.application.display_name }}</code> <a href="#" data-bs-toggle="modal" data-bs-target="#editDisplayNameModal"><small>(edit)</small></a><br>
                            <b>Internal name:</b> <code id="internalName">{{ xss objects.application.internal_name }}</code> <a href="#" data-bs-toggle="modal" data-bs-target="#editInternalNameModal"><small>(edit)</small></a>
                            <br><br>
                            <b>UUID:</b> <code id="uuid">{{ xss objects.application.uuid }}</code> <a href="#" onclick="regenUUIDModify()"><small>(regen)</small></a> <div class="text-secondary spinner-border spinner-border-sm d-none" role="status" id="spinner-uuid"><span class="sr-only">Regenerating UUID...</span></div><br>
                            <b>Last Deployed Version UUID:</b> {{#if objects.application.last_deployed_version_uuid.length}}<code>{{ xss objects.application.last_deployed_version_uuid }}</code>{{else}}<i class="text-muted">none</i>{{/if}}
                            <br><br>
                            <b>Time Created:</b> <span id="created">{{ unix2timestamp objects.application.created_timestamp }}</span><br>
                            <b>Last Updated:</b> <span id="lastUpdated">{{ unix2timestamp objects.application.last_updated_timestamp }}</span>
                            <br><br>
                            <button class="btn btn-danger"><i class="fas fa-trash"></i> Delete this application</button>
                        </div>
                        <div class="col-lg">
                            <div class="card">
                                <div class="card-header">Version history</div>
                                <div class="card-body">
                                    No software has ever been deployed to this application before
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editDisplayNameModal" tabindex="-1" role="dialog" aria-labelledby="editDisplayNameModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 title="modal-title">Edit Display Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger py-2 d-none" id="internalNameModalError"></div>
                            <span>Current display name: <code id="displayNameModalText">{{ xss objects.application.display_name }}</code></span>
                            <div class="form-group mt-1">
                                <label for="editDisplayNameInput" class="form-label">New internal name:</label>
                                <input type="text" class="form-control" id="editDisplayNameInput" placeholder="Enter new display name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="saveEditDisplayNameChanges()">
                                <div class="text-secondary spinner-border spinner-border-sm d-none" role="status" id="spinner-editDisplayName"><span class="sr-only">Saving changes...</span></div>
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editInternalNameModal" tabindex="-1" aria-labelledby="editInternalNameModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 title="modal-title">Edit Internal Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger py-2 d-none" id="internalNameModalError"></div>
                            <span>Current internal name: <code id="internalNameModalText">{{ xss objects.application.internal_name }}</code></span>
                            <div class="form-group mt-1">
                                <label for="editInternalNameInput" class="form-label">New internal name:</label>
                                <input type="text" class="form-control" id="editInternalNameInput" placeholder="Enter new internal name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="saveEditInternalNameChanges()">
                                <div class="text-secondary spinner-border spinner-border-sm d-none" role="status" id="spinner-editInternalName"><span class="sr-only">Saving changes...</span></div>
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script>$(document).ready(() => { fetchApplicationDataModify(true) })</script>
    {{/content}}
{{/layout}}