{{#> layout}}
    {{#if application}}
        {{#content "head" mode="append"}}
            <meta name="rboxlo-application-id" content="{{ application.id }}">
        {{/content}}
    {{/if}}
    
    {{#content "body"}}
        <h1 class="mb-3">Modify Application</h1>

        {{#if application}}
            <h3 class="mb-2">Viewing application "<span class="display-name">{{ xss application.displayName }}</span>"</h3>
            <a href="{{ url "/games/application/modify" }}" class="text-decoration-none"><i class="far fa-arrow-left"></i> Back</a>
            <div class="alert alert-success d-none mt-2" id="update"></div>

            <div class="card card-body mt-2">
                <div class="row justify-content-between">
                    <div class="col-lg-5 mb-3">
                        <b>ID:</b> <code>{{ xss application.id }}</code><br>
                        <b>Display name:</b> <code class="display-name">{{ xss application.displayName }}</code> <a href="#" data-bs-toggle="modal" data-bs-target="#display-name-modal"><small>(edit)</small></a><br>
                        <b>Internal name:</b> <code class="internal-name">{{ xss application.internalName }}</code> <a href="#" data-bs-toggle="modal" data-bs-target="#internal-name-modal"><small>(edit)</small></a>
                        <br><br>
                        <b>UUID:</b> <code id="uuid">{{ xss application.uuid }}</code> <a href="#" id="regenerate-uuid"><small>(regen)</small></a> <div class="text-secondary spinner-border spinner-border-sm d-none" role="status" id="regenerate-uuid-spinner"><span class="sr-only">Regenerating UUID...</span></div><br>
                        <b>Last Deployed Version UUID:</b> {{#if lastDeployedVersionUUID.length}}<code>{{ xss application.lastDeployedVersionUUID }}</code>{{else}}<i class="text-muted">none</i>{{/if}}
                        <br><br>
                        <b>Time Created:</b> <span id="created">{{ timestamp application.createdTimestamp }}</span><br>
                        <b>Last Updated:</b> <span id="last-updated">{{ timestamp application.lastUpdatedTimestamp }}</span>
                        <br><br>
                        <b class="text-danger">This application doesn't have any software deployed to it yet.</b> That means that this application isn't usable or downloadable until you software is deployed to it. You can deploy software by clicking <a href="{{ url "/games/application/deployment" }}?id={{ application.id }}">here</a>.
                        <br><br>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-application-modal"><i class="fas fa-times"></i> Delete this application</button>
                    </div>

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">Version history</div>
                            <div class="card-body">
                                No software has ever been deployed to this application before
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="display-name-modal" tabindex="-1" role="dialog" aria-labelledby="display-name-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 title="modal-title">Edit Display Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger py-2 d-none" id="display-name-modal-update"></div>
                            <span>Current display name: <code id="display-name">{{ xss application.displayName }}</code></span>
                            <div class="form-group mt-1">
                                <label for="display-name-input" class="form-label">New internal name:</label>
                                <input id="display-name-input" type="text" class="form-control" placeholder="Enter new display name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="display-name-submit">
                                <div class="text-secondary spinner-border spinner-border-sm d-none" role="status" id="display-name-spinner"><span class="sr-only">Saving changes...</span></div>
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="internal-name-modal" tabindex="-1" aria-labelledby="internal-name-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 title="modal-title">Edit Internal Name</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger py-2 d-none" id="internal-name-update"></div>
                            <span>Current internal name: <code id="internal-name">{{ xss application.internalName }}</code></span>
                            <div class="form-group mt-1">
                                <label for="internal-name-input" class="form-label">New internal name:</label>
                                <input id="internal-name-input" type="text" class="form-control" placeholder="Enter new internal name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="internal-name-submit">
                                <div class="text-secondary spinner-border spinner-border-sm d-none" role="status" id="internal-name-spinner"><span class="sr-only">Saving changes...</span></div>
                                Save changes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {{else}}
            <div class="d-flex justify-content-between mb-3">
                <h3>Choose an application</h3>
                <div class="d-flex align-items-center">
                    <a href="{{ url "/games/application/new" }}">
                        <button class="btn btn-primary me-2">
                            <i class="fas fa-plus"></i> New Application
                        </button>
                    </a>

                    <button class="btn btn-secondary" id="data-refresh">
                        <i class="fas fa-sync"></i> Refresh
                    </button>
                </div>
            </div>

            <div class="alert alert-success d-none mt-2" id="update"></div>
            
            <table class="table table-striped table-hover table-bordered d-none" id="data">
                <thead class="table-light"><tr>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="table-button"></th>
                    <th scope="col" class="align-middle text-center">ID</th>
                    <th scope="col" class="align-middle">Display Name</th>
                    <th scope="col" class="align-middle">Internal Name</th>
                    <th scope="col" class="align-middle">UUID</th>
                    <th scope="col" class="align-middle">Latest Deployed Version UUID</th>
                    <th scope="col" class="align-middle">Last Updated</th>
                    <th scope="col" class="align-middle">Time Created</th>
                </tr></thead>
                <tbody id="data-body"></tbody>
            </table>
            
            <div class="d-flex align-items-center justify-content-center h-50" id="data-loading">
                <div class="text-secondary spinner-border spinner-border-lg" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center h-50 d-none" id="data-empty">
                <div class="text-center">
                    <img src="{{ resource "blobs/tired.png" }}" class="error-image">
                    <h3>No applications found</h3>
                    <span>Why don't you <a href="{{ url "/games/application/new" }}">make one</a>?</span>
                </div>
            </div>
        {{/if}}

        <div class="modal fade" id="delete-application-modal" tabindex="-1" aria-labelledby="delete-application-modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 title="modal-title">Delete Application</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you SURE you want to delete this application?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" id="delete-application-submit">
                            <div class="text-white spinner-border spinner-border-sm d-none" role="status" id="delete-spinner"><span class="sr-only">Deleting application...</span></div>
                            Yes, I'm sure
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}

    {{#content "scripts" mode="append"}}
        <script src="{{ resource "games/application/modify.js" }}"></script>
    {{/content}}
{{/layout}}