<!DOCTYPE html>
<html lang="en">
    <head>
        {{#block "head"}}
            <meta charset="utf-8">
            <meta http-equiv="content-language" content="en">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="x-ua-compatible" content="ie-edge">
            <link rel="stylesheet" href="{{ resource "constraint.css" }}">
            <link rel="apple-touch-icon" sizes="180x180" href="{{ resource "apple-touch-icon.png" false }}">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ resource "favicon-32x32.png" false }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ resource "favicon-16x16.png" false }}">
            <link rel="manifest" href="{{ resource "site.webmanifest" false }}">
            <link rel="mask-icon" href="{{ resource "safari-pinned-tab.svg" false }}" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#d5bfff">
            <meta name="msapplication-TileImage" content="{{ resource "mstile-144x144.png" false }}">
            <meta name="theme-color" content="#d5bfff">
            <title>{{ title }} - {{ rboxlo.name }}</title>
        {{/head}}
    </head>
    <body>
        {{#block "body"}}
        {{/block}}
    </body>
</html>