{{#> layout}}
    {{#content "body"}}
        <h2 class="mt-3 mb-3">New Place</h2>

        <div class="card card-body">
            <form method="post" enctype="multipart/form-data" id="place-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input id="name" type="text" class="form-control{{#if objects.form.name}} is-{{#if objects.form.name.invalid}}in{{/if}}valid{{/if}}" required="required" name="name" placeholder="Up to 30 characters">
                    {{#if objects.form.name.invalid}}
                        <div class="invalid-feedback">{{ objects.form.name.message }}</div>
                    {{/if}}
                </div>

                <div class="d-flex mb-1">
                    <div class="flex-fill">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control{{#if objects.form.description}} is-{{#if objects.form.description.invalid}}in{{/if}}valid{{/if}}" name="description" id="description" style="resize:none" rows="15" maxlength="2000" placeholder="Up to 2000 characters; optional"></textarea>
                        {{#if objects.form.description.invalid}}
                            <div class="invalid-feedback">{{ objects.form.description.message }}</div>
                        {{/if}}
                    </div>
                    
                    <div class="flex-item ms-4 p-2">
                        <div class="mb-2">
                            <label for="privacy" class="form-label">Who can access this game?</label>
                            <select name="privacy" class="form-select form-select-sm{{#if objects.form.privacy}} is-{{#if objects.form.privacy.invalid}}in{{/if}}valid{{/if}}" required="required">
                                <option value="0">Everyone</option>
                                <option value="1">My friends</option>
                                <option value="2">Only me</option>
                            </select>
                            {{#if objects.form.privacy.invalid}}
                                <div class="invalid-feedback">{{ objects.form.privacy.message }}</div>
                            {{/if}}
                        </div>

                        <div class="mb-2">
                            <label for="chat_style" class="form-label">Chat style</label>
                            <select name="chat_style" class="form-select form-select-sm{{#if objects.form.chat_style}} is-{{#if objects.form.chat_style.invalid}}in{{/if}}valid{{/if}}" required="required">
                                <option value="0">Classic</option>
                                <option value="1">Bubbles</option>
                                <option value="2">Both</option>
                            </select>
                            {{#if objects.form.chat_style.invalid}}
                                <div class="invalid-feedback">{{ objects.form.chat_style.message }}</div>
                            {{/if}}
                        </div>

                        <div class="mb-2">
                            <label for="genre" class="form-label">Genre</label>
                            <select name="genre" class="form-select form-select-sm{{#if objects.form.genre}} is-{{#if objects.form.genre.invalid}}in{{/if}}valid{{/if}}" required="required">
                                <option value="0">All</option>
                                <option value="1">Town and City</option>
                                <option value="2">Fantasy</option>
                                <option value="3">Sci-Fi</option>
                                <option value="4">Ninja</option>
                                <option value="5">Scary</option>
                                <option value="6">Pirate</option>
                                <option value="7">Adventure</option>
                                <option value="8">Sports</option>
                                <option value="9">Funny</option>
                                <option value="10">Wild West</option>
                                <option value="11">War</option>
                                <option value="12">Skate Park</option>
                                <option value="13">Tutorial</option>
                            </select>
                            {{#if objects.form.genre.invalid}}
                                <div class="invalid-feedback">{{ objects.form.genre.message }}</div>
                            {{/if}}
                        </div>

                        <div class="mb-2">
                            <label for="max_players" class="form-label">Max players</label>
                            <input type="number" name="max_players" id="max_players" class="form-control form-control-sm{{#if objects.form.max_players}} is-{{#if objects.form.max_players.invalid}}in{{/if}}valid{{/if}}" required="required" min="1" max="100" placeholder="Up to 100 players">
                            {{#if objects.form.[max_players].invalid}}
                                <div class="invalid-feedback">{{ objects.form.max_players.message }}</div>
                            {{/if}}
                        </div>

                        <div class="mb-2">
                            <label for="application" class="form-label">Application</label>
                            <select name="application" class="form-select form-select-sm{{#if objects.form.application}} is-{{#if objects.form.application.invalid}}in{{/if}}valid{{/if}}" required="required">
                                {{#each objects.versions}}
                                    <option value="{{ this.internal_name }}">{{ this.display_name }}</option>
                                {{/each}}
                            </select>
                            {{#if objects.form.application.invalid}}
                                <div class="invalid-feedback">{{ objects.form.application.message }}</div>
                            {{/if}}
                        </div>
                        
                        <div class="mb-3">
                            <label for="place" class="form-label">Choose place file (maximum {{ objects.max }})</label>
                            <input type="file" class="form-control form-control-sm{{#if objects.form.place}} is-{{#if objects.form.place.invalid}}in{{/if}}valid{{/if}}" name="place" id="place" required="required">
                            {{#if objects.form.place.invalid}}
                                <div class="invalid-feedback">{{ objects.form.place.message }}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>

                <div class="mb-2">
                    <label class="form-label">Allowed gears</label>
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-melee">Melee</label>
                                    <input type="checkbox" class="form-check-input" id="gear-melee" name="gear-melee">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-powerup">Power ups</label>
                                    <input type="checkbox" class="form-check-input" id="gear-powerup" name="gear-powerup">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-ranged">Ranged</label>
                                    <input type="checkbox" class="form-check-input" id="gear-ranged" name="gear-ranged">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-navigation">Navigation</label>
                                    <input type="checkbox" class="form-check-input" id="gear-navigation" name="gear-navigation">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-explosive">Explosives</label>
                                    <input type="checkbox" class="form-check-input" id="gear-explosive" name="gear-explosive">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-musical">Musical</label>
                                    <input type="checkbox" class="form-check-input" id="gear-musical" name="gear-musical">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-social">Social</label>
                                    <input type="checkbox" class="form-check-input" id="gear-social" name="gear-social">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-transport">Transport</label>
                                    <input type="checkbox" class="form-check-input" id="gear-transport" name="gear-transport">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label" for="gear-building">Building</label>
                                    <input type="checkbox" class="form-check-input" id="gear-building" name="gear-building">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <input type="hidden" name="_csrf" value="{{ objects.csrf }}">

                {{#if rboxlo.captcha.enabled}}
                    <div class="g-recaptcha{{#if objects.form.captcha}} mb-1{{/if}}" data-sitekey="{{ rboxlo.captcha.siteKey }}"></div>
                    {{#if objects.form.captcha}}
                        <span class="error-text">{{ objects.form.captcha.message }}</span><br>
                    {{else}}
                        <br>
                    {{/if}}
                {{/if}}

                <div class="mb-3 mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="copying" name="copying">
                        <label class="form-check-label" for="copying">Allow copying</label>
                    </div>
                </div>
                
                <div class="d-flex justify-content-between align-items-center{{#if rboxlo.captcha.enabled}} mt-1{{/if}}">
                    <button id="submit" type="submit" class="btn btn-primary btn-primary-rboxlo">Create place</button>
                    <a href="{{ rboxlo.domain }}/games/" class="text-decoration-none pe-2">Go back</a>
                </div>
            </form>
        </div>
    {{/content}}

    {{#content "scripts" mode="append"}}
        {{#if rboxlo.captcha.enabled}}
            <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
        {{/if}}
    {{/content}}
{{/layout}}