{{#> layout}}
    {{#content "body"}}
        <div class="d-flex justify-content-between my-3">
            <h2>Games</h2>

            {{#if session.user}}
                <div class="d-flex align-items-center">
                    <a class="me-2" href="{{ rboxlo.domain }}/games/download">
                        <button class="btn btn-success">
                            <i class="fas fa-download"></i> Download
                        </button>
                    </a>

                    <button class="btn btn-primary btn-primary-rboxlo disabled me-2" disabled="disabled">
                        <i class="fas fa-plus"></i> New Server
                    </button>
                    
                    {{#if session.user.permissions.places.creation}}
                        <a href="{{ url "/games/places/new" }}" class="btn btn-primary btn-primary-rboxlo">
                            <i class="fas fa-plus"></i> New Place
                        </a>
                    {{else}}
                        <button class="btn btn-primary btn-primary-rboxlo disabled" disabled="disabled">
                            <i class="fas fa-plus"></i> New Place
                        </button>
                    {{/if}}
                </div>
            {{/if}}
        </div>

        <div class="card mb-3" style="min-height: 80vh">
            <div class="card-header">
                <ul class="card-header-tabs nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" id="placec-page">Places</a>
                    </li>
                    <li disabled="" class="nav-item disabled">
                        <a href="#" class="nav-link disabled" id="servers-page">Servers</a>
                    </li>
                </ul>
            </div>

            <div class="card-body">
                <div class="row mt-2 justify-content-center px-3">
                    <div class="card card-body mb-3 col-lg-1 me-2" style="height:0%;">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Search places" id="search-field">
                            <button type="button" id="search-button" class="btn btn-sm btn-secondary"><i class="fas fa-search"></i></button>
                        </div>

                        <div>
                            <small class="form-text text-muted mt-0 mb-2 float-end"><a href="#" class="text-decoration-none" id="advanced-modal">(advanced)</a></small>
                        </div>
                        
                        <br>
                        
                        <div class="card">
                            <div class="card-header px-2 py-1">
                                <small>Applications</small>
                            </div>
                            
                            <div class="card-body px-2 py-1">
                                <div class="form-check form-control-sm mb-0 py-0">
                                    <input type="checkbox" value="" id="view-all" name="view-all" class="form-check-input" checked="true">
                                    <label class="form-check-label" for="view-all">All</label>
                                </div>
                                {{#each applications}}
                                    <div class="form-check form-control-sm mb-0 py-0">
                                        <input type="checkbox" value="" id="{{ xss this.internalName }}" name="{{ xss this.internalName }}" class="form-check-input">
                                        <label class="form-check-label" for="{{ xss this.internalName }}">{{ xss this.displayName }}</label>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="row col-lg-10">
                        <div class="col-md-auto mb-3 px-2" id="places-content">
                            <!--
                            <div class="card card-body px-2 py-2">
                                <div class="text-center">
                                    <h5 class="mb-0">Crossroads</h5>
                                    <small>by <a href="/user?id=1" class="text-decoration-none">Carrot</a></small>
                                    <hr class="my-2">
                                    <img src="https://cdn.discordapp.com/attachments/857352047119564809/859861185708949504/unknown.png" class="mb-2 rounded games-place-img">
                                    <br>
                                    <span class="text-secondary text-center"><i class="fas fa-users"></i> <small>0 playing</small></span>
                                    <br>
                                    <div class="d-flex justify-content-between mt-1 px-1">
                                        <span><small class="text-success"><i class="fas fa-thumbs-up"></i> 100%</small></span>
                                        <span><small class="text-danger"><i class="fas fa-thumbs-down"></i> 0%</small></span>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/layout}}