{{#> layout}}
    {{#content "body"}}
        <br>
        <div class="card">
            <div class="card-header">Sign in</div>
            <div class="card-body">
                <form id="login-form" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" name="username" type="text" class="form-control{{#if form.username}} is-{{#if form.username.invalid}}in{{/if}}valid{{/if}}" required="required">
                        {{#if form.username.invalid}}
                            <div class="invalid-feedback">{{ form.username.message }}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" name="password" type="password" class="form-control{{#if form.password}} is-{{#if form.password.invalid}}in{{/if}}valid{{/if}}" required="required">
                        {{#if form.password.invalid}}
                            <div class="invalid-feedback">{{ form.password.message }}</div>
                        {{/if}}
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="remember_me" name="remember_me">
                            <label class="form-check-label" for="remember_me">Remember me</label>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ session.csrf }}">
                    {{#if rboxlo.captcha.enabled}}
                        {{#if challenge}}
                            <div class="g-recaptcha{{#if form.captcha}} mb-1{{/if}}" data-sitekey="{{ rboxlo.captcha.siteKey }}"></div>
                            {{#if form.captcha}}
                                <span class="error-text">{{ form.captcha.message }}</span><br>
                            {{else}}
                                <br>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                    <button type="submit" class="btn btn-primary btn-primary-rboxlo{{#if form.captcha}} mt-1{{/if}}">Sign in</button>
                </form>
            </div>
        </div>
        <br>
    {{/content}}
    
    {{#if rboxlo.captcha.enabled}}
        {{#if challenge}}
            {{#content "scripts" mode="append"}}
                <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
            {{/content}}
        {{/if}}
    {{/if}}
{{/layout}}